<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neeraj.task">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/ad"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/ad"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MultipartRequestActivity"></activity>
        <activity android:name=".activity.DeleteDataActivity" />
        <activity android:name=".activity.UpdateDataActivity" />
        <activity android:name=".activity.PostDataActivity" />
        <activity android:name=".activity.GetDataActivity" />
        <activity android:name=".activity.ShowActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MainActivity">

        </activity>


        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>